.nav-link{
	text-align: center;
	background-color: white;
	border:1px solid black;
	color:black;
}
	a:hover{
		background-color: lightgrey;
	}
	.navbar{
		background-color: lightgrey;
		color:black;
	}
.navbar{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-brand{
	margin-left: 10px;
}
.row{
	background-color: lightgrey;
	width=100%;
}
.container{
	overflow: hidden;
}
#buttons:hover{
	background-color: blue;
}
}
